@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

:root {
	--cor-base: Azure;

	--cor-prin1: Teal;
	--cor-prin2: DarkSlateGray;

	--cor-sec1: Peru;
	--cor-sec2: Wheat;
	--cor-sec3: Burlywood;


	--cor-link-inicial: RoyalBlue;
	--cor-link-sobre: CornflowerBlue;
	--cor-link-ativo: DarkRed;
	--cor-link-visitado: MidnightBlue;
}

/*--------------------------------------------------------------*/
body{
	color: var(--cor-prin2);
	background-color: var(--cor-base);

	font-family: sans-serif;	

	margin: 0px;	
	
	display: flex;
	flex-direction: column;
}

.item-body{
	display: flex;	
}

/*--------------------------------------------------------------*/
header{
	align-items:  center;
	padding: 10px 10px 10px 15px;	
}

header img, h1{
	margin: 10px;	
}

header img{
	display: flex;
	justify-content: center;	
	align-items: center;
	border-radius: 50%;
	overflow: hidden;
	width: 7%;
	border: 2px solid var(--cor-prin1);	
}

header h1{
	font-family: 'Parisienne', cursive;
	font-variant: normal;
	font-size: 300%;
}	

/*--------------------------------------------------------------*/
nav{
	width: 25%;
/*	border-right: 2px solid var(--cor-sec3);*/
}

nav ul{
	padding: 0px;
	margin: 0px;
	border-top: 1px solid var(--cor-sec3);	
}

nav ul li{	 
	padding: 5px;

	border-width: 0px 1px 1px 1px;
	border-style: solid;
	border-color: var(--cor-sec3);

	background-color: var(--cor-sec2);
	text-align: center;
}

/*--------------------------------------------------------------*/
.item-main{
	padding: 0px 0px 5px 0px;	
}

/*--------------------------------------------------------------*/
.filmes{
	display: flex;
	justify-content: center;
}

.item-filmes{
	display: flex;
	flex-direction: column;

	align-items: center;
}

.item-filmes a{
	display: flex;
	justify-content: center;	
}

.item-filmes a img{
	width: 50%;	
}


/*--------------------------------------------------------------*/
footer{
	display: flex;
	justify-content: flex-end;
	text-align: right;

	background-color: var(--cor-sec2);
}

footer ul{
	margin: 10px;
}

footer ul li{
	font-size: small;
}

/*--------------------------------------------------------------*/


h1{
	color: var(--cor-prin1);
	font-variant: small-caps;
}

h2{
	background-color: var(--cor-prin1);
	color: var(--cor-base);
	font-variant: small-caps;

	margin: 0px;
	padding: 5px 5px 5px 20px;
}

h3{
	color: var(--cor-sec1);
	font-variant: small-caps;

	margin: 0px;
	padding: 10px 0px 0px 20px;
}

p{
	margin: 10px 0px 5px 0px;
	padding: 0px 0px 0px 5px;
	text-indent: 15px;
}



a{
	font-variant: small-caps;
	text-decoration: none;
}

a:link{
	color: var(--cor-link-inicial);
}

a:hover{
	color: var(--cor-link-sobre);
}

a:active{
	color: var(--cor-link-ativo);
}

a:visited{
	color: var(--cor-link-visitado);
}

ul{
	list-style-type: none;
}




table{
	box-shadow: 10px 10px 5px #888888;
	
	border-collapse: collapse;

	width: 50%;
	text-align: center;
	vertical-align: middle;

	color: var(--cor-base);

}

thead{
	background-color: var(--cor-prin2);
	font-weight: bold;
}

tbody{
	background-color: var(--cor-prin1);
}

