@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

:root {
	--verde-muito-claro: Azure;
	--verde-claro: #D3F4F0;
	--verde-medio: #9EDED7;
	--verde-escuro: #2A887E;
	--verde-muito-escuro: DarkSlateGray;

	--amarelo-claro: #FFF2D8;
	--amarelo-medio: #AF7F27;
	--amarelo-escuro: #97660B;

	--vermelho-muito-claro: #FB9BA2;
	--vermelho-claro: #F16D77;
	--vermelho-medio: #D5424D;
	--vermelho-escuro: #930B15;
}

/*--------------------------------------------------------------*/
body{
	color: var(--verde-muito-escuro);
	background-color: var(--verde-muito-claro);

	font-family: sans-serif;	

	margin: 0px;	

	display: flex;
	flex-direction: column;
}

.item-body{
	display: flex;	
}

/*--------------------------------------------------------------*/
header{
	align-items:  center;
	padding: 2px 10px 2px 50px;	
	
	background-color: var(--verde-claro);
	border-width: 0px 0px 1px 0px;
	border-style: solid;
	border-color: var(--verde-muito-escuro);
}

header img, h1{
	margin: 10px;	
}

header img{
	display: flex;
	justify-content: center;	
	align-items: center;
	border-radius: 50%;
	overflow: hidden;
	width: 20vh;
	border: 2px solid var(--verde-escuro);	
}

header h1{
	font-family: 'Parisienne', cursive;
	font-variant: normal;
	font-size: 400%;

	padding: 0px 0px 0px 40px;	
}	

/*--------------------------------------------------------------*/
nav{
	width: 25%;	

	background-color: var(--verde-escuro);
}

nav ul{
	padding: 0px;
	margin: 0px;
}

nav ul li{	 
	padding: 0px;
	margin: 0px; 
	display: flex;

	border-width: 0px 1px 1px 1px;
	border-style: solid;
	border-color: var(--verde-medio);
	
	text-align: center;
}

nav ul li a{
	padding: 9px 5px 9px 5px;

	width: 100%;
}

nav ul li a:hover{	
	background-color: var(--verde-muito-escuro);
}

/*--------------------------------------------------------------*/
.item-main{
	padding: 0px 0px 5px 0px;	
}

.p-item-main{
	margin: 10px 0px 5px 0px;
	padding: 0px 0px 0px 5px;
	text-indent: 15px;
}

.sub-item-main{
	display: flex;
	justify-content: center;	
}

.sub-item-main img{
	width: 160px;
}

/*--------------------------------------------------------------*/
.livros{
	width: 80%;

	padding: 0px;
	margin: 0px;

	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

.item-livros{
	margin: 2px;

	display: flex;
	flex-direction: column;	
	align-items: center;		
}

.item-livros p{
	font-size: small;
}

/*--------------------------------------------------------------*/
.filmes{
	width: 80%;

	padding: 0px;
	margin: 0px;

	display: flex;
	justify-content: space-around;	
}

.item-filmes{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.item-filmes p{
	font-size: small;
}

/*--------------------------------------------------------------*/
table{
	width: 80%;

	margin: 20px;
	
	text-align: center;
	vertical-align: middle;

	box-shadow: 10px 10px 5px #888888;
	
	border-collapse: collapse;

	color: var(--amarelo-claro);
}

thead{
	background-color: var(--amarelo-escuro);
	font-weight: bold;
}

tbody{
	background-color: var(--amarelo-medio);	
}

td{	
	padding: 5px;

	border-width: 0px 2px 0px 0px;
	border-style: solid;
	border-color: var(--amarelo-escuro);
}

table:last-child {
	border-style: hidden;
}

/*--------------------------------------------------------------*/
.fim-main{
	display: flex;
	flex-direction: column;
	
	align-items: center;
}

.fim-main p{
	width: 80%;

	margin: 10px 0px 10px 0px;
	padding: 10px 0px 0px 0px;

	border-top: 1px solid var(--verde-escuro);	

	text-align: center;	
}

/*--------------------------------------------------------------*/
footer{
	display: flex;
	justify-content: flex-end;
	text-align: right;

	background-color: var(--verde-escuro);
}

footer ul{
	margin: 10px;
}

footer ul li{
	font-size: small;
	color: var(--verde-muito-claro);
}

/*--------------------------------------------------------------*/
h1{
	color: var(--verde-escuro);
	font-variant: small-caps;
}

h2{
	background-color: var(--verde-escuro);
	color: var(--verde-muito-claro);
	font-variant: small-caps;

	margin: 0px;
	padding: 5px 5px 5px 20px;
}

h3{
	color: var(--amarelo-medio);
	font-variant: small-caps;

	margin: 0px 20px 10px 20px;
	padding: 10px 0px 0px 0px;

	border-width: 0px 0px 1px 0px;
	border-style: solid;
	border-color: var(--amarelo-medio);
}

ul{
	list-style-type: none;
}

a{
	font-variant: small-caps;
	text-decoration: none;
}

a:link{
	color: var(--vermelho-muito-claro);
}

a:hover{
	color: var(--vermelho-claro);
}

a:active{
	color: var(--vermelho-medio);
}

a:visited{
	color: var(--vermelho-escuro);
}