:root {
	--cor-base: Azure;

	--cor-prin1: Teal;
	--cor-prin2: DarkSlateGray;

	--cor-sec1: Peru;
	--cor-sec2: Wheat;
	--cor-sec3: Burlywood;


	--cor-link-inicial: RoyalBlue;
	--cor-link-sobre: CornflowerBlue;
	--cor-link-ativo: DarkRed;
	--cor-link-visitado: MidnightBlue;
}



body{
	color: var(--cor-prin2);
	background-color: var(--cor-base);

	font-family: sans-serif;
	
}



h1,h2{
	color: var(--cor-prin1);
	font-variant: small-caps;
}

h3{
	color: var(--cor-sec1);
	font-variant: small-caps;
}



a{
	font-variant: small-caps;
	text-decoration: none;
}

a:link{
	color: var(--cor-link-inicial);
}

a:hover{
	color: var(--cor-link-sobre);
}

a:active{
	color: var(--cor-link-ativo);
}

a:visited{
	color: var(--cor-link-visitado);
}



nav ul li{

	 
	border-style:groove; 
	border-color: var(--cor-sec3);
	background-color: var(--cor-sec2);
}

ul{
	list-style-type: none;
}

